<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reserva de Salas</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body ng-app="app" ng-controller="Main">
    <div id="ocultar" class="bmd-layout-container bmd-drawer-f-l">
        <header class="bmd-layout-header" ng-show="!isLoginScreen()">
            <div class="navbar navbar-light bg-faded">
                <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
                    <i class="material-icons">menu</i>
                </button>
                <ul class="nav navbar-nav">
                    <li class="nav-item">Logado como: {{$root.usuario}}</li>
                </ul>
            </div>
        </header>

        <div id="dw-s1" class="bmd-layout-drawer bg-faded" ng-show="!isLoginScreen()">
            <header>
                <a class="navbar-brand">Reserva de Salas</a>
            </header>
            <ul class="list-group">
                <a class="list-group-item" href="#!home" ng-click="fecharDrawer()">Home</a>
                <a class="list-group-item" href="#!cadastro" ng-if="checkUsuario($root.usuario)" ng-click="fecharDrawer()">Cadastro de
                    Usuários</a>
                <a class="list-group-item" href="#!alterarCadastro" ng-if="checkUsuario($root.usuario)" ng-click="fecharDrawer()">Alterar 
                        Cadastro de Usuários</a>
                <a class="list-group-item" href="#!suasReservas" ng-click="fecharDrawer()">Suas Reservas</a>
                <a class="list-group-item" href="#!salas" ng-click="fecharDrawer()">Mapa de salas</a>
            </ul>
        </div>

        <main class="bmd-layout-content" ng-click="fecharDrawer()">
            <div ng-view class="container d-flex justify-content-center" ng-class="{'h-100': isLoginScreen()}"></div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script src="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.2/moment-range.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="./index.js"></script>
</body>

</html>