body,
html {
    height: 100%;
}

.flex-grow {
    flex: 1 0 auto;
}

.bmd-layout-canvas {
    flex-grow: 1;
}

rect.sala {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

rect.sala:hover {
    fill: #eaeaea;
}

rect.sala:active {
    fill: #d0d0d0;
}

#cidade {
    margin-top: 11px;
}

.mapa {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

text {
    fill: #000000;
    text-anchor: middle;
    font-size: 18px;
    pointer-events: none;
}