<div class="card card-body">
    <h5 class="card-title text-center">Cadastro de Usuários</h5>

    <form id="formulario">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email" class="bmd-label-floating">Email</label>
                <input type="email" class="form-control" id="email" ng-model="usuario.email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="usuario" class="bmd-label-floating">Usuário</label>
                <input type="text" class="form-control" id="usuario" ng-model="usuario.user" required>
            </div>
            <div class="form-group col-md-6">
                <label for="nome" class="bmd-label-floating">Nome</label>
                <input type="text" class="form-control" id="nome" ng-model="usuario.nome" required>
            </div>
            <div class="form-group col-md-6">
                <label for="sobrenome" class="bmd-label-floating">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" ng-model="usuario.sobrenome" required>
            </div>
            <div class="form-group col-md-12">
                <label for="endereco" class="bmd-label-floating">Endereço</label>
                <input type="text" class="form-control" id="endereco" ng-model="usuario.endereco" required>
            </div>
            <div class="form-group col-md-10">
                <label for="complemento" class="bmd-label-floating">Complemento</label>
                <input type="text" class="form-control" id="complemento" ng-model="usuario.complemento">
            </div>
            <div class="form-group col-md-2">
                <label for="cep" class="bmd-label-floating">CEP</label>
                <input type="text" class="form-control" id="cep" maxlength="8" minlength="8" ng-model="usuario.cep" required>
            </div>
            <div class="form-group col-md-8">
                <label for="cidade" class="bmd-label-floating">Cidade</label>
                <input type="text" class="form-control" id="cidade" ng-model="usuario.cidade" required>
            </div>
            <div class="form-group col-md-4">
                <label for="estado" class="bmd-label-floating">Estado</label>
                <select class="form-control" id="estado" ng-model="usuario.estado" required>
                    <option selected>Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="admin" ng-model="usuario.root">
                <label id="check" class="form-check-label" for="admin">Usuário administrador</label>
            </div>
        </div>
        <button type="submit" class="float-right btn btn-primary">Salvar</button>
    </form>
    <h5 class="card-title text-center">Usuários Cadastrados</h5>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(k, v) in $root.usuarios">
                    <td>{{k}}</td>
                    <td>{{v.nome}}</td>
                    <td>{{v.sobrenome}}</td>
                    <td>
                        <button class="float-right btn btn-primary" ng-click="excluirUsuario(k)"><i class="material-icons">delete_forever</i></button>
                        <button class="float-right btn btn-primary" ng-click="alterarUsuario(k)"><i class="material-icons">mode_edit</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>