<div class="align-self-center" style="width: 18rem;">
    <div class="card card-body">
        <h5 class="card-title text-center">Reserva de salas</h5>
        <form ng-submit="doLogin($root.usuario)">
            <fieldset class="form-group">
                <label for="usuario" class="bmd-label-floating">Usuário</label>
                <input type="text" class="form-control" id="usuario" ng-model="$root.usuario" required>
            </fieldset>
            <fieldset class="form-group">
                <label for="senha" class="bmd-label-floating">Senha</label>
                <input type="password" class="form-control" id="senha">
            </fieldset>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Entrar">
            </div>
        </form>
    </div>
</div>