<div class="card card-body">
    <h5 class="card-title text-center">Mapa de salas</h5>

    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="500">
        <g transform="translate(1.0, 1.0)" fill="transparent" stroke="none">
            <rect id="C202" class="sala" x="0" y="0" width="130" height="220"></rect>
            <rect id="C203" class="sala" x="0" y="220" width="130" height="220"></rect>
            <rect class="sala" x="320" y="50" width="180" height="100"></rect>

            <path class="mapa" d="M 130 0 H 500 V 50 H 320 V 80 H 250 V 50 H 180 V 440 H 130 Z" />
            <rect class="mapa" x="250" y="80" width="70" height="70"></rect>

        </g>
    </svg>
</div>