<div id="card_mapa" class="card card-body">
    <h5 class="card-title text-center">Mapa de salas</h5>

    <div class="container">
        <div class="row">
            <svg id="view_mapa" class="col-sm" version="1.0" xmlns="http://www.w3.org/2000/svg"
                ng-click="ocultarDetalhes()" viewBox="0 0 1300 700" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(1.0, 1.0)" fill="transparent" stroke="none">
                    <rect class="mapa" x="0" y="0" width="50" height="100"></rect>

                    <rect id="C201" class="sala" x="50" y="0" width="160" height="100" ng-click="mostrarDetalhes('C201'); $event.stopPropagation();"></rect>
                    <text x="130" y="50" alignment-baseline="central">C201</text>

                    <rect id="C202" class="sala" x="0" y="100" width="130" height="220" ng-click="mostrarDetalhes('C202'); $event.stopPropagation();"></rect>
                    <text x="65" y="210" alignment-baseline="central">C202</text>
                    
                    <rect id="C203" class="sala" x="0" y="320" width="130" height="220" ng-click="mostrarDetalhes('C203'); $event.stopPropagation();"></rect>
                    <text x="65" y="430" alignment-baseline="central">C203</text>

                    <rect id="C207" class="sala" x="320" y="150" width="180" height="100" ng-click="mostrarDetalhes('C207'); $event.stopPropagation();"></rect>
                    <text x="410" y="200" alignment-baseline="central">C207</text>

                    <rect id="C208" class="sala" x="500" y="150" width="180" height="100" ng-click="mostrarDetalhes('C208'); $event.stopPropagation();"></rect>
                    <text x="590" y="200" alignment-baseline="central">C208</text>

                    <rect id="C209" class="sala" x="680" y="150" width="100" height="100" ng-click="mostrarDetalhes('C209'); $event.stopPropagation();"></rect>
                    <text x="730" y="200" alignment-baseline="central">C209</text>

                    <rect id="C210" class="sala" x="780" y="150" width="100" height="100" ng-click="mostrarDetalhes('C210'); $event.stopPropagation();"></rect>
                    <text x="830" y="200" alignment-baseline="central">C210</text>
                    
                    <rect class="mapa" x="880" y="150" width="80" height="100"></rect>
                    <rect class="mapa" x="960" y="200" width="80" height="50"></rect>
                    <rect class="mapa" x="1040" y="200" width="80" height="50"></rect>

                    <rect id="C212" class="sala" x="1170" y="100" width="128" height="220" ng-click="mostrarDetalhes('C212'); $event.stopPropagation();"></rect>
                    <text x="1234" y="210" alignment-baseline="central">C212</text>

                    <rect class="mapa" x="1170" y="320" width="128" height="110"></rect>
                    <rect class="mapa" x="1170" y="430" width="128" height="110"></rect>

                    <path class="mapa" d="M 130 100 H 1170 V 540 H 1120 V 200 H 960 V 150 H 320 V 180 H 250 V 150 H 180 V 540 H 130 Z" />
                    <rect class="mapa" x="250" y="180" width="70" height="70"></rect>
                </g>
            </svg>
        </div>
        <div class="row">
            <div id="card_descricao" class="col-sm card">
                <h5 class="card-header">Sala <span ng-bind="sala_selecionada.nome"></span></h5>
                <div class="card-body">
                    <h5 class="card-title">Bloco <span ng-bind="sala_selecionada.dados.bloco"></span> - Piso <span ng-bind="sala_selecionada.dados.piso"></span>
                    </h5>
                    
                    <h6 class="card-subtitle mb-2 text-muted" ng-bind="sala_selecionada.dados.descricao"></h6>
                    <button type="button" class="float-right btn btn-primary" ng-click="reservarSala(sala_selecionada.nome)">Reservar</button>
                </div>
            </div>
        </div>
    </div>

</div>